.produto{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 100%;
}
.produto_fotos{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produto_fotos_container{
    display: flex;
    width: 250px;
    height: 250px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.produto_fotos_container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.produto_nome{
    font-size: 25px;
    text-align: center;
}
.produto_nome::after{
    width: 100%;
    height: 2px;
    background-color: #555;
}
.produto_preco{
    font-size: 20px;
}